section#contacts.contacts
  .container
    .contacts__title
      .contacts__title_top Contact Us
      .contacts__title_description.
        Most calendars are designed for teams. Slate is designed for freelancers
      .contacts__title_icons
        div
          img(src='/img/icons/Vector.png' alt)
        div
          img(src='/img/icons/Vector-1.png' alt)
        div
          img(src='/img/icons/Vector-2.png' alt)
    .contacts__map
      img.contacts__map_img(src='/img/@ map screen.png' alt)
    .contacts__map_phone
      img.contacts__map_img(src='/img/@ map screen (1).png' alt)
    .contact
      .contacts__wrap
        .contact__item
          div
            img(src='/img/icons/bx_bx-map.png' alt)
          .contact__item1-text.
            6386 Spring St undefined Anchorage, Georgia 12473 United States
        .contact__item
          img(src='/img/icons/Vector-4.png' alt)
          .contact__item2-text (843) 555-0130
        .contact__item
          img(src='/img/icons/Vector-3.png' alt)
          .contact__item3-text.
            willie.jennings@example.com
    .contacts__massage
      .contacts__massage_title Contact Us
      .contacts__massage_name
        form(action)
          input.contacts__massage_form(type='text' placeholder='Your Name')
      .contacts__massage_email
        form(action)
          input.contacts__massage_form-email(type='text' placeholder='Your Email')
      .contacts__massage_sms
        form(action)
          input.contacts__massage_form.contacts__massage_form1(type='text' placeholder='Your Massage')
      .fs__button.contacts__massage_button Send





