mixin featuresRight
  .features__right
    .features__right_title
      img.features__right_title-icon(src='/img/icons/ic_3.svg' alt)
      .features__right_title-description At your fingertips
    .features__right_content.
      Slate helps you see how many more days you need to work to reach your financial goal. 

section#product.features
  .container
    .features__header
      .features__header_top At your fingertips
      .features__header_title Features
      .features__header_bottom freelancers
    .features__bottom
      .features__left
        img.features__left_img(src='/img/Flat Browser1.png' alt)
      .features__right_wrap
        +featuresRight
        +featuresRight




