section.lastblock
  .container
    .lastblock__wraps
      .lastblock__wrap
        .lastblock__content-1
          .lastblock__content_item-1 Pages
          .lastblock__content_item Home
          .lastblock__content_item Product
          .lastblock__content_item Pricing
          .lastblock__content_item About
          .lastblock__content_item Contact
        .lastblock__content-2
          .lastblock__content_item-1 Tomothy
          .lastblock__content_item Eleanor Edwards
          .lastblock__content_item Ted Robertson
          .lastblock__content_item Annette Russell
          .lastblock__content_item Jennie Mckinney
          .lastblock__content_item Gloria Richards
        .lastblock__content-3
          .lastblock__content_item-1 Jane Black
          .lastblock__content_item Philip Jones
          .lastblock__content_item Product
          .lastblock__content_item Colleen Russell
          .lastblock__content_item Marvin Hawkins
          .lastblock__content_item Bruce Simmmons
        .lastblock__content-4
          .lastblock__content_item-1 Annette Steward
          .lastblock__content_item Jennie Cooper
          .lastblock__content_item Julie Henry
          .lastblock__content_item Johnny Murphy
          .lastblock__content_item Gregory Mccoy
          .lastblock__content_item Marvin Mckinney
        .lastblock__content-4
          .lastblock__content_item-1 Annette Steward
          .lastblock__content_item Jennie Cooper
          .lastblock__content_item Julie Henry
          .lastblock__content_item Johnny Murphy
          .lastblock__content_item Gregory Mccoy
          .lastblock__content_item Marvin Mckinney
        .lastblock__content-4
          .lastblock__content_item-1 Annette Steward
          .lastblock__content_item Jennie Cooper
          .lastblock__content_item Julie Henry
          .lastblock__content_item Johnny Murphy
          .lastblock__content_item Gregory Mccoy
          .lastblock__content_item Marvin Mckinney
      .lastblock__subscribes
        .lastblock__subscribe_icons
          .lastblock__subscribe_icon-item
            img(src='/img/icons/Vector7.png' alt)
          .lastblock__subscribe_icon-item
            img(src='/img/icons/Vector9.png' alt)
          .lastblock__subscribe_icon-item
            img(src='/img/icons/Vector8.png' alt)
        .lastblock__subscribe_content
          .lastblock__subscribe_content-title.
            Subscribe to our Newsletter
          .lastblock__subscribe_content_bottom.
            Available exclusivery on Figmaland
        .lastblock__subscribe
          .header__search.subscribe__suerchs.lastblock__subscribez
            form(action)
              input.header__search_form.lastblock__suerch_form(type='text' placeholder='Your Email')
            .header__search_button.subscribe__suerch_button.lastblock__buttonz.
              Subsribe





