section.light
  .container
    .light__content
      .light__content_top At your fingertips
      .light__content_title Lightning fast prototyping
      .light__content_bottom.
        Most calendars are designed for teams. Slate is designed for freelancers
    .light__buttons
      .light__button_1 Buy now
      .light__button_2 Try for free