section#pricing.pricing
  .container
    .pricing__wrap
      .pricing__left
        .pricing__left_top Pricing
        .pricing__left_bottom.
          Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
      .pricing__right
        .pricing__right_top 30 - DAY FREE TRIAL.
        .pricing__right_center
          .pricing__right_center-item1 $10
          .pricing__right_center-item2 / Month per User
        .pricing__right_bottom.
          Most calendars are designed for teams.
        .fs__button.testimonials__button.pricing_button.
          Get started





