section.subscribe
  .container
    .subscribe__wraps
      .subscribe__left
        img.subscribe__img(src='./img/subscribe_img.svg' alt)
      .subscribe__right
        .subscribe__right_top At your fingertips
        .subscribe__right_title.
          Lightning fast prototyping
        .subscribe__newsletter Newsletter
        .subscribe__newsletters.
          Most calendars are designed for teams. Slate is designed for freelancers
      .subscribe__suerch
        .subscribe__suerch_text
          .subscribe__suerch_text-top.
            Subscribe to our Newsletter
          .subscribe__suerch_text-bottom.
            Available exclusivery on Figmaland
        .header__search.subscribe__suerchs
          form(action)
            input.header__search_form.subscribe__suerch_form(type='text' placeholder='Your Email')
          .header__search_button.subscribe__suerch_button.
            Subsribe









