//- mixin starIcons 
//-   img(src='/img/star1.png' alt)
//-   img(src='/img/star1.png' alt)
//-   img(src='/img/star1.png' alt)
//-   img(src='/img/star1.png' alt)
//-   img(src='/img/star2.png' alt)

section#about.testimonials
  .container
    .testimonials__title Testimonials
    #testapi.testimonials__cards
      //- -
      //-   const testimonials = [
      //-     { img: '/img/testimonials__phone-1.png', class: 'testimonials__card420'},
      //-     { img: '/img/testimonials__phone-2.png', class: 'testimonials__card420'},
      //-     { img: '/img/testimonials__phone-3.png', class: 'testimonials__card420'},
      //-     { img: '/img/testimonials__icon-1.png', class: 'testimonials__card'},
      //-     { img: '/img/testimonials__icon-2.png', class: 'testimonials__card'},
      //-     { img: '/img/testimonials__icon-3.png', class: 'testimonials__card'},
      //-     { img: '/img/testimonials__icon-4.png', class: 'testimonials__card'},
      //-     { img: '/img/testimonials__icon-5.png', class: 'testimonials__card'},
      //-     { img: '/img/testimonials__icon-6.png', class: 'testimonials__card'},
      //-   ]
      //- each item in testimonials
      //-   div(class=item.class)  
      //-     .testimonials__card_icon1234
      //-       img(class=testimonials__card_icon src=item.img alt)
      //-     .testimonials__card_description.testimonials__card_description420.
      //-       Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
      //-     .testimonials__card_stars
      //-       +starIcons 
      //-     .testimonials__card_name Regina Miles
      //-     .designer Designer




















