.testimonials {
  margin-top: 100px;
  @include phone {
    margin-top: 0;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: 400;
    margin: 0 auto;
  }
  &__cards {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    row-gap: 100px;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
    @include tablet {
      row-gap: 56px;
    }
  }
  &__card420,
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    max-width: 335px;
    padding: 40px 50px;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  }

  &__card420 {
    display: none;
    @include phone {
      display: block;
      max-width: 296px;
      padding: 34px 42px 34px 42px;
    }
  }
  &__card {
    @include phone {
      display: none;
    }

    &_stars {
      @include phone {
        margin-left: 35px;
      }
    }
    &_description {
      width: 250px;
      height: 108px;
      color: #374754;
      margin: 30px 0;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.02px;
      line-height: 27px;
      text-align: center;
      @include phone {
        width: 222px;
      }

      &420 {
        @include phone {
          width: 222px;
          font-size: 17px;
        }
      }
    }
  }

  &__card_name {
    font-size: 15px;
    font-weight: 400;
    margin: 30px 0 10px 0;
    @include phone {
      text-align: center;
    }
  }
  .designer {
    font-size: 12px;
    font-weight: 700;
    @include phone {
      text-align: center;
    }
  }

  &__button {
    margin: initial;
    margin: 0 auto;
    margin-bottom: 100px;
    min-width: 280px;
    background-color: $text_blue;
    color: $text_white;
    font-size: 22px;
    @include phone_sm {
      min-width: 250px;
    }
  }
  .testimonials__card_icon1234 {
    @include phone {
      display: inline-block;
      margin-left: 40px;
    }
  }
}
